@import "tailwindcss";


:root {
  font-family: "Satoshi", sans-serif;
  background-color: #250040;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 20rem;
  min-height: 100vh;
  
}
nav {
  gap:5;
}
.navlinks {
  font-size:1.1rem;
}
.navlogotext, .navwaitlist {
  font-size:1.3rem;
}
.navlinks, .navlogo, .navwaitlist {
  cursor: pointer;
}
